In [1]:
import pandas as pd

In [2]:
file = open('../owid_covid_data.csv')

In [3]:
#uma serie temporal
df = pd.read_csv(file)
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2020-02-29,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,2020-03-02,1.0,0.0,0.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,2020-03-03,2.0,1.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,2020-03-04,4.0,2.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [4]:
df.info()
#vendo se as colunas de data já são datas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72775 entries, 0 to 72774
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               72775 non-null  object
 1   continent                              69168 non-null  object
 2   location                               72775 non-null  object
 3   date                                   72775 non-null  object
 4   total_cases                            71729 non-null  float64
 5   new_cases                              71727 non-null  float64
 6   new_cases_smoothed                     70726 non-null  float64
 7   total_deaths                           62606 non-null  float64
 8   new_deaths                             62764 non-null  float64
 9   new_deaths_smoothed                    70726 non-null  float64
 10  total_cases_per_million                71337 non-null  float64
 11  new_cases_per_million                  71335 non-null  float64
 12  new_cases_smoothed_per_million         70339 non-null  float64
 13  total_deaths_per_million               62227 non-null  float64
 14  new_deaths_per_million                 62385 non-null  float64
 15  new_deaths_smoothed_per_million        70339 non-null  float64
 16  reproduction_rate                      58548 non-null  float64
 17  icu_patients                           7639 non-null   float64
 18  icu_patients_per_million               7639 non-null   float64
 19  hosp_patients                          9185 non-null   float64
 20  hosp_patients_per_million              9185 non-null   float64
 21  weekly_icu_admissions                  645 non-null    float64
 22  weekly_icu_admissions_per_million      645 non-null    float64
 23  weekly_hosp_admissions                 1229 non-null   float64
 24  weekly_hosp_admissions_per_million     1229 non-null   float64
 25  new_tests                              32924 non-null  float64
 26  total_tests                            32749 non-null  float64
 27  total_tests_per_thousand               32749 non-null  float64
 28  new_tests_per_thousand                 32924 non-null  float64
 29  new_tests_smoothed                     37564 non-null  float64
 30  new_tests_smoothed_per_thousand        37564 non-null  float64
 31  positive_rate                          36371 non-null  float64
 32  tests_per_case                         35810 non-null  float64
 33  tests_units                            38870 non-null  object
 34  total_vaccinations                     3208 non-null   float64
 35  people_vaccinated                      2782 non-null   float64
 36  people_fully_vaccinated                1840 non-null   float64
 37  new_vaccinations                       2702 non-null   float64
 38  new_vaccinations_smoothed              4810 non-null   float64
 39  total_vaccinations_per_hundred         3208 non-null   float64
 40  people_vaccinated_per_hundred          2782 non-null   float64
 41  people_fully_vaccinated_per_hundred    1840 non-null   float64
 42  new_vaccinations_smoothed_per_million  4810 non-null   float64
 43  stringency_index                       62268 non-null  float64
 44  population                             72374 non-null  float64
 45  population_density                     67986 non-null  float64
 46  median_age                             66114 non-null  float64
 47  aged_65_older                          65352 non-null  float64
 48  aged_70_older                          65741 non-null  float64
 49  gdp_per_capita                         66308 non-null  float64
 50  extreme_poverty                        45275 non-null  float64
 51  cardiovasc_death_rate                  66949 non-null  float64
 52  diabetes_prevalence                    67791 non-null  float64
 53  female_smokers                         52644 non-null  float64
 54  male_smokers                           51921 non-null  float64
 55  handwashing_facilities                 33592 non-null  float64
 56  hospital_beds_per_thousand             61295 non-null  float64
 57  life_expectancy                        69146 non-null  float64
 58  human_development_index                66890 non-null  float64
dtypes: float64(54), object(5)
memory usage: 32.8+ MB

In [5]:
#como esperado não
df['date'] = pd.to_datetime(df.date)

In [6]:
#ok pensei que fossem menos
df.location.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Cyprus', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
#mais do que a quantidade de países reconhecidos no mundo? analise.
len(df.location.unique())

215

Aparentemente temos além de países, regiões consideradas como 'independentes' o suficiente para manterem status internacional.

In [8]:
df.loc[df['location'] == 'South America'].head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
60343,OWID_SAM,NaN,South America,2020-02-22,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60344,OWID_SAM,NaN,South America,2020-02-23,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60345,OWID_SAM,NaN,South America,2020-02-24,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60346,OWID_SAM,NaN,South America,2020-02-25,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60347,OWID_SAM,NaN,South America,2020-02-26,3.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.loc[df['location'] == 'South America'].tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
60715,OWID_SAM,NaN,South America,2021-02-28,17968065.0,48219.0,78810.286,466504.0,1019.0,1791.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60716,OWID_SAM,NaN,South America,2021-03-01,18026103.0,58038.0,81036.857,467842.0,1338.0,1826.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60717,OWID_SAM,NaN,South America,2021-03-02,18111492.0,85389.0,81212.143,470214.0,2372.0,1884.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60718,OWID_SAM,NaN,South America,2021-03-03,18203448.0,91956.0,80799.000,472652.0,2438.0,1934.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60719,OWID_SAM,NaN,South America,2021-03-04,18304962.0,101514.0,81622.286,475075.0,2423.0,1959.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#notei que talvez os dados em algumas colunas tenham sido simplesmente abstraidos. vale a pena verificar.
sa_df = df.loc[df['location'] == 'South America']
sa_df['diabetes_prevalence'].unique()

array([nan])

Como temos a presença de continentes da série temporal, creio que seja válida a separação em camadas, para facilitar a busca, e também para não alterar a semântica da série temporal - o que levaria ao enviesamento.

In [11]:
#NOTA: esse processo abaixo não é computacionalmente viável, justamente por criar muitas cópias e o acesso seria totalmente descontrolado. Para fins de ANÁLISE se torna mais pratico(para mim), e não será reutilizaddo em produção. 
#PS: nao tem America Central meu deus geografia basica 
continents = {
    'NA': df.loc[df['location'] == 'South America'],
    'LATAM': df.loc[df['location'] == 'North America'],
    'EUR': df.loc[df['location'] == 'Europe'],
    'AFR': df.loc[df['location'] == 'Africa'],
    'OCE': df.loc[df['location'] == 'Oceania'],
    'Asia': df.loc[df['location'] == 'Asia']
    }

In [12]:
#testando 

for continent, dframe in continents.items():
    print(f'{continent} tem {dframe.shape[0]} amostras.')

NA tem 377 amostras.
LATAM tem 408 amostras.
EUR tem 407 amostras.
AFR tem 386 amostras.
OCE tem 405 amostras.
Asia tem 408 amostras.

Pela quantidade de amostras, aparentemente a quantidade de dados temporais é ***desbalanceada***.

In [14]:
#vamos verificar a data inicial e final de cada país.

locations = df.location.unique()

for l in locations:
    dates = df.loc[df['location'] == l]['date']
    print(f'{l}: {min(dates)} : {max(dates)}')

Afghanistan: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Africa: 2020-02-13 00:00:00 : 2021-03-04 00:00:00
Albania: 2020-02-25 00:00:00 : 2021-03-04 00:00:00
Algeria: 2020-02-25 00:00:00 : 2021-03-04 00:00:00
Andorra: 2020-03-02 00:00:00 : 2021-03-04 00:00:00
Angola: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Anguilla: 2021-02-04 00:00:00 : 2021-02-26 00:00:00
Antigua and Barbuda: 2020-03-13 00:00:00 : 2021-03-04 00:00:00
Argentina: 2020-01-01 00:00:00 : 2021-03-04 00:00:00
Armenia: 2020-03-01 00:00:00 : 2021-03-04 00:00:00
Asia: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
Australia: 2020-01-26 00:00:00 : 2021-03-04 00:00:00
Austria: 2020-02-25 00:00:00 : 2021-03-04 00:00:00
Azerbaijan: 2020-03-01 00:00:00 : 2021-03-04 00:00:00
Bahamas: 2020-03-16 00:00:00 : 2021-03-04 00:00:00
Bahrain: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Bangladesh: 2020-03-03 00:00:00 : 2021-03-04 00:00:00
Barbados: 2020-03-17 00:00:00 : 2021-03-04 00:00:00
Belarus: 2020-02-28 00:00:00 : 2021-03-04 00:00:00
Belgium: 2020-02-04 00:00:00 : 2021-03-04 00:00:00
Belize: 2020-03-23 00:00:00 : 2021-03-04 00:00:00
Benin: 2020-03-16 00:00:00 : 2021-03-04 00:00:00
Bermuda: 2021-01-10 00:00:00 : 2021-03-01 00:00:00
Bhutan: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Bolivia: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Bosnia and Herzegovina: 2020-03-05 00:00:00 : 2021-03-04 00:00:00
Botswana: 2020-03-30 00:00:00 : 2021-03-04 00:00:00
Brazil: 2020-02-26 00:00:00 : 2021-03-04 00:00:00
Brunei: 2020-03-09 00:00:00 : 2021-03-04 00:00:00
Bulgaria: 2020-03-08 00:00:00 : 2021-03-04 00:00:00
Burkina Faso: 2020-03-10 00:00:00 : 2021-03-04 00:00:00
Burundi: 2020-03-31 00:00:00 : 2021-03-04 00:00:00
Cambodia: 2020-01-27 00:00:00 : 2021-03-04 00:00:00
Cameroon: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Canada: 2020-01-26 00:00:00 : 2021-03-04 00:00:00
Cape Verde: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Cayman Islands: 2020-12-26 00:00:00 : 2021-03-03 00:00:00
Central African Republic: 2020-03-15 00:00:00 : 2021-03-04 00:00:00
Chad: 2020-03-19 00:00:00 : 2021-03-04 00:00:00
Chile: 2020-02-23 00:00:00 : 2021-03-04 00:00:00
China: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
Colombia: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Comoros: 2020-04-30 00:00:00 : 2021-03-04 00:00:00
Congo: 2020-03-15 00:00:00 : 2021-03-04 00:00:00
Costa Rica: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Cote d'Ivoire: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Croatia: 2020-02-25 00:00:00 : 2021-03-04 00:00:00
Cuba: 2020-03-12 00:00:00 : 2021-03-04 00:00:00
Cyprus: 2020-03-09 00:00:00 : 2021-03-04 00:00:00
Czechia: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Democratic Republic of Congo: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Denmark: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Djibouti: 2020-03-18 00:00:00 : 2021-03-04 00:00:00
Dominica: 2020-03-22 00:00:00 : 2021-03-04 00:00:00
Dominican Republic: 2020-03-01 00:00:00 : 2021-03-04 00:00:00
Ecuador: 2020-03-01 00:00:00 : 2021-03-04 00:00:00
Egypt: 2020-02-14 00:00:00 : 2021-03-04 00:00:00
El Salvador: 2020-03-19 00:00:00 : 2021-03-04 00:00:00
Equatorial Guinea: 2020-03-15 00:00:00 : 2021-03-04 00:00:00
Eritrea: 2020-03-21 00:00:00 : 2021-03-04 00:00:00
Estonia: 2020-02-12 00:00:00 : 2021-03-04 00:00:00
Eswatini: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Ethiopia: 2020-03-13 00:00:00 : 2021-03-04 00:00:00
Europe: 2020-01-23 00:00:00 : 2021-03-04 00:00:00
European Union: 2020-01-23 00:00:00 : 2021-03-04 00:00:00
Faeroe Islands: 2021-01-29 00:00:00 : 2021-03-04 00:00:00
Falkland Islands: 2021-02-07 00:00:00 : 2021-02-22 00:00:00
Fiji: 2020-01-30 00:00:00 : 2021-03-04 00:00:00
Finland: 2020-01-29 00:00:00 : 2021-03-04 00:00:00
France: 2020-01-24 00:00:00 : 2021-03-04 00:00:00
Gabon: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Gambia: 2020-03-17 00:00:00 : 2021-03-04 00:00:00
Georgia: 2020-02-26 00:00:00 : 2021-03-04 00:00:00
Germany: 2020-01-27 00:00:00 : 2021-03-04 00:00:00
Ghana: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Gibraltar: 2021-01-10 00:00:00 : 2021-03-04 00:00:00
Greece: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Greenland: 2021-01-27 00:00:00 : 2021-03-01 00:00:00
Grenada: 2020-03-22 00:00:00 : 2021-03-04 00:00:00
Guatemala: 2020-02-17 00:00:00 : 2021-03-04 00:00:00
Guernsey: 2021-01-24 00:00:00 : 2021-03-02 00:00:00
Guinea: 2020-03-13 00:00:00 : 2021-03-04 00:00:00
Guinea-Bissau: 2020-03-25 00:00:00 : 2021-03-04 00:00:00
Guyana: 2020-03-12 00:00:00 : 2021-03-04 00:00:00
Haiti: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Honduras: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Hong Kong: 2020-01-31 00:00:00 : 2021-03-03 00:00:00
Hungary: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Iceland: 2020-02-09 00:00:00 : 2021-03-04 00:00:00
India: 2020-01-30 00:00:00 : 2021-03-04 00:00:00
Indonesia: 2020-03-02 00:00:00 : 2021-03-04 00:00:00
International: 2020-02-07 00:00:00 : 2021-03-04 00:00:00
Iran: 2020-02-19 00:00:00 : 2021-03-04 00:00:00
Iraq: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Ireland: 2020-02-29 00:00:00 : 2021-03-04 00:00:00
Isle of Man: 2021-01-21 00:00:00 : 2021-03-04 00:00:00
Israel: 2020-02-20 00:00:00 : 2021-03-04 00:00:00
Italy: 2020-01-31 00:00:00 : 2021-03-04 00:00:00
Jamaica: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Japan: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
Jersey: 2021-01-24 00:00:00 : 2021-02-28 00:00:00
Jordan: 2020-03-03 00:00:00 : 2021-03-04 00:00:00
Kazakhstan: 2020-03-13 00:00:00 : 2021-03-04 00:00:00
Kenya: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Kosovo: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Kuwait: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Kyrgyzstan: 2020-03-18 00:00:00 : 2021-03-04 00:00:00
Laos: 2020-03-24 00:00:00 : 2021-03-04 00:00:00
Latvia: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Lebanon: 2020-02-21 00:00:00 : 2021-03-04 00:00:00
Lesotho: 2020-05-13 00:00:00 : 2021-03-04 00:00:00
Liberia: 2020-03-16 00:00:00 : 2021-03-04 00:00:00
Libya: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Liechtenstein: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Lithuania: 2020-02-23 00:00:00 : 2021-03-04 00:00:00
Luxembourg: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Macao: 2021-02-08 00:00:00 : 2021-02-18 00:00:00
Madagascar: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Malawi: 2020-03-29 00:00:00 : 2021-03-04 00:00:00
Malaysia: 2020-01-25 00:00:00 : 2021-03-04 00:00:00
Maldives: 2020-03-08 00:00:00 : 2021-03-04 00:00:00
Mali: 2020-03-25 00:00:00 : 2021-03-04 00:00:00
Malta: 2020-02-06 00:00:00 : 2021-03-04 00:00:00
Marshall Islands: 2020-10-28 00:00:00 : 2021-03-04 00:00:00
Mauritania: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Mauritius: 2020-03-18 00:00:00 : 2021-03-04 00:00:00
Mexico: 2020-01-01 00:00:00 : 2021-03-04 00:00:00
Micronesia (country): 2021-01-21 00:00:00 : 2021-03-04 00:00:00
Moldova: 2020-03-08 00:00:00 : 2021-03-04 00:00:00
Monaco: 2020-02-29 00:00:00 : 2021-03-04 00:00:00
Mongolia: 2020-03-10 00:00:00 : 2021-03-04 00:00:00
Montenegro: 2020-03-17 00:00:00 : 2021-03-04 00:00:00
Montserrat: 2021-02-08 00:00:00 : 2021-02-23 00:00:00
Morocco: 2020-02-07 00:00:00 : 2021-03-04 00:00:00
Mozambique: 2020-03-22 00:00:00 : 2021-03-04 00:00:00
Myanmar: 2020-03-27 00:00:00 : 2021-03-04 00:00:00
Namibia: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Nepal: 2020-01-25 00:00:00 : 2021-03-04 00:00:00
Netherlands: 2020-02-09 00:00:00 : 2021-03-04 00:00:00
New Zealand: 2020-02-28 00:00:00 : 2021-03-04 00:00:00
Nicaragua: 2020-03-19 00:00:00 : 2021-03-04 00:00:00
Niger: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Nigeria: 2020-02-28 00:00:00 : 2021-03-04 00:00:00
North America: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
North Macedonia: 2020-02-26 00:00:00 : 2021-03-04 00:00:00
Northern Cyprus: 2021-01-14 00:00:00 : 2021-01-22 00:00:00
Norway: 2020-02-23 00:00:00 : 2021-03-04 00:00:00
Oceania: 2020-01-25 00:00:00 : 2021-03-04 00:00:00
Oman: 2020-02-24 00:00:00 : 2021-03-04 00:00:00
Pakistan: 2020-02-25 00:00:00 : 2021-03-04 00:00:00
Palestine: 2020-03-05 00:00:00 : 2021-03-04 00:00:00
Panama: 2020-03-09 00:00:00 : 2021-03-04 00:00:00
Papua New Guinea: 2020-03-20 00:00:00 : 2021-03-04 00:00:00
Paraguay: 2020-03-07 00:00:00 : 2021-03-04 00:00:00
Peru: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Philippines: 2020-01-30 00:00:00 : 2021-03-04 00:00:00
Poland: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Portugal: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Qatar: 2020-02-29 00:00:00 : 2021-03-04 00:00:00
Romania: 2020-02-26 00:00:00 : 2021-03-04 00:00:00
Russia: 2020-01-31 00:00:00 : 2021-03-04 00:00:00
Rwanda: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Saint Helena: 2021-02-03 00:00:00 : 2021-02-03 00:00:00
Saint Kitts and Nevis: 2020-03-25 00:00:00 : 2021-03-04 00:00:00
Saint Lucia: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Saint Vincent and the Grenadines: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Samoa: 2020-11-18 00:00:00 : 2021-03-04 00:00:00
San Marino: 2020-02-27 00:00:00 : 2021-03-04 00:00:00
Sao Tome and Principe: 2020-04-06 00:00:00 : 2021-03-04 00:00:00
Saudi Arabia: 2020-03-02 00:00:00 : 2021-03-04 00:00:00
Senegal: 2020-02-28 00:00:00 : 2021-03-04 00:00:00
Serbia: 2020-02-26 00:00:00 : 2021-03-04 00:00:00
Seychelles: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Sierra Leone: 2020-03-31 00:00:00 : 2021-03-04 00:00:00
Singapore: 2020-01-23 00:00:00 : 2021-03-04 00:00:00
Slovakia: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Slovenia: 2020-02-02 00:00:00 : 2021-03-04 00:00:00
Solomon Islands: 2020-10-12 00:00:00 : 2021-03-04 00:00:00
Somalia: 2020-03-16 00:00:00 : 2021-03-04 00:00:00
South Africa: 2020-02-07 00:00:00 : 2021-03-04 00:00:00
South America: 2020-02-22 00:00:00 : 2021-03-04 00:00:00
South Korea: 2020-01-21 00:00:00 : 2021-03-04 00:00:00
South Sudan: 2020-04-05 00:00:00 : 2021-03-04 00:00:00
Spain: 2020-02-01 00:00:00 : 2021-03-04 00:00:00
Sri Lanka: 2020-01-27 00:00:00 : 2021-03-04 00:00:00
Sudan: 2020-03-12 00:00:00 : 2021-03-04 00:00:00
Suriname: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Sweden: 2020-02-01 00:00:00 : 2021-03-04 00:00:00
Switzerland: 2020-01-24 00:00:00 : 2021-03-04 00:00:00
Syria: 2020-03-22 00:00:00 : 2021-03-04 00:00:00
Taiwan: 2020-01-16 00:00:00 : 2021-03-04 00:00:00
Tajikistan: 2020-04-30 00:00:00 : 2021-03-04 00:00:00
Tanzania: 2020-03-16 00:00:00 : 2021-03-04 00:00:00
Thailand: 2020-01-04 00:00:00 : 2021-03-04 00:00:00
Timor: 2020-03-22 00:00:00 : 2021-03-04 00:00:00
Togo: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Trinidad and Tobago: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Tunisia: 2020-03-04 00:00:00 : 2021-03-04 00:00:00
Turkey: 2020-03-11 00:00:00 : 2021-03-04 00:00:00
Turks and Caicos Islands: 2021-01-10 00:00:00 : 2021-02-08 00:00:00
Uganda: 2020-03-21 00:00:00 : 2021-03-04 00:00:00
Ukraine: 2020-03-03 00:00:00 : 2021-03-04 00:00:00
United Arab Emirates: 2020-01-29 00:00:00 : 2021-03-04 00:00:00
United Kingdom: 2020-01-31 00:00:00 : 2021-03-04 00:00:00
United States: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
Uruguay: 2020-03-13 00:00:00 : 2021-03-04 00:00:00
Uzbekistan: 2020-03-15 00:00:00 : 2021-03-04 00:00:00
Vanuatu: 2020-11-10 00:00:00 : 2021-03-04 00:00:00
Vatican: 2020-03-06 00:00:00 : 2021-03-04 00:00:00
Venezuela: 2020-03-14 00:00:00 : 2021-03-04 00:00:00
Vietnam: 2020-01-23 00:00:00 : 2021-03-04 00:00:00
World: 2020-01-22 00:00:00 : 2021-03-04 00:00:00
Yemen: 2020-04-10 00:00:00 : 2021-03-04 00:00:00
Zambia: 2020-03-18 00:00:00 : 2021-03-04 00:00:00
Zimbabwe: 2020-03-20 00:00:00 : 2021-03-04 00:00:00

É possível verificar que as datas apesar de estarem num mesmo _range_ temporal, não tem a mesma data inicial e final amostrais.